<!DOCTYPE html>
<html>
  <head>
    <title>JohnBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-fixed">
    <nav>
      <ul class="navbar">
        <li><%= link_to 'Home', root_path %></li>
        <% if logged_in? %>
          <li><%= link_to 'Profile', current_user %></li>
          <li><%= link_to 'Logout', logout_path, method: 'delete' %></li>
          <li><%= link_to 'New Post', new_post_path %></li>
        <% else %>
          <li><%= link_to 'Create Account', new_user_path %></li>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </nav>
    </header>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type%>"><%= message %></div>
    <% end %>
    <% yield %>
  </body>
</html>
