<div class="posts-container">
  <h2>All Blog Posts</h2>

  <% @posts.each do |post| %>
    <tr>
      <td>Title: <%= post.title %></td>
      <td>Description: <%= post.description %></td>
      <td>Created: <%= post.created_at %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
    </tr>
  <% end %>

  <%= link_to 'New Post', new_post_path %>

</div>
